<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   seed.plist
   Tuts+ Shopping List

   Created by Yohannes Wijaya on 2/19/16.
   Copyright (c) 2016 Yohannes Wijaya. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
